<main class="main">
  <div class="flex flex-options">
    @if (favPokemon) {
      <app-fav-bar class="flex" [favPokemon]="favPokemon">
      </app-fav-bar>
    } @else {
      <app-fav-bar class="flex">
      </app-fav-bar>
    }
  </div>
  <div class="flex flex-options">
    <app-table
      class="flex-options"
      (selectedPokemon)="onSelected($event)"
      (dataLength)="onDataLoaded($event)"
    ></app-table>
      @if (detailedPokemon) {
        <app-details
          class="flex-options side"
          [pokemonDetails]="detailedPokemon"
          (favPokemon)="onSelectedFav($event)"
        ></app-details>
      }
  </div>
  <div class="flex-options">
    @if (dataLength) {
      <app-resume-table
        class="resume-table"
        [resultsLength]="dataLength"
      ></app-resume-table>
    }

  </div>
</main>


<router-outlet />
